<div class="setup">
  <div [formGroup]="form" class="name-div">
    <mat-form-field class="name-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required/>
    </mat-form-field>
  </div>

  <div class="create-game-buttons">
    <button mat-raised-button [disabled]="buttonsDisabled$ | async" (click)="createGameClick(Player.PLAYER_1)">
      <mat-list-item>
        <mat-icon class="player1-button" matListItemIcon>person</mat-icon>
      </mat-list-item>
    </button>
    <h2 class="title">create game</h2>
    <button class="player2-button" mat-raised-button [disabled]="buttonsDisabled$ | async"
            (click)="createGameClick(Player.PLAYER_2)">
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
      </mat-list-item>
    </button>
  </div>

  @if (games$ | async; as games) {
    @if (games.length > 0) {
      <h2 class="title">join game</h2>
      <div class="table-container">
        <table mat-table [dataSource]="games" class="mat-elevation-z8">

          <ng-container matColumnDef="{{displayedColumns[0]}}">
            <td mat-cell *matCellDef="let game">
              @if (game.namePlayer1 == null) {
                <button class="player1-button" mat-raised-button [disabled]="buttonsDisabled$ | async"
                        (click)="joinGameClick(game.id, Player.PLAYER_1)">
                  <mat-list-item>
                    <mat-icon matListItemIcon>person</mat-icon>
                  </mat-list-item>
                </button>
              } @else {
                <div class="player-name">{{ game.namePlayer1 }}</div>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="{{displayedColumns[1]}}">
            <td mat-cell *matCellDef="let game">
              @if (game.namePlayer2 == null) {
                <button class="player2-button" mat-raised-button [disabled]="buttonsDisabled$ | async"
                        (click)="joinGameClick(game.id, Player.PLAYER_2)">
                  <mat-list-item>
                    <mat-icon matListItemIcon>person</mat-icon>
                  </mat-list-item>
                </button>
              } @else {
                <div class="player-name">{{ game.namePlayer2 }}</div>
              }
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    }
  }
</div>
