.setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-right: 20px;
  margin-left: 20px;

  .name-div {
    width: 100%;
    max-width: 800px;
    text-align: center;

    .name-field {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  .title {
    color: var(--mdc-protected-button-label-text-color);
  }

  .player1-button {
    color: var(--color-player-1);
  }

  .player2-button {
    color: var(--color-player-2);
  }

  .create-game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 32px;
  }

  .table-container {
    width: 100%;
    max-width: 1460px;
    margin: 8px;
  }

  table {
    background-color: #333333;
    border-collapse: collapse;

    .player-name {
      font-size: 16px;
    }

    td[mat-cell] {
      width: 50%;
      position: relative;
      text-align: center;
    }

    /* draw a line between the columns */
    td[mat-cell]:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: var(--mat-table-row-item-outline-color);
    }
  }
}
