.hexagon {
  position: relative;

  .hexagon-svg {
    position: absolute;
    stroke: var(--color-canvas);
    stroke-width: 5px;
    fill: #d6bf73;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
  }

  .content-svg {
    position: relative;
  }

  .player-1 {
    fill: var(--color-player-1);
  }

  .player-2 {
    fill: var(--color-player-2);
  }

  .empty {
    opacity: 0;
  }

  .lastMove {
    stroke: var(--color-canvas);
    stroke-width: 6px;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .blink {
    animation: blink 1.5s ease 10;
  }

}
