:root {
  --color-player-1: #af6a25;;
  --color-player-2: #478c9f;
  --color-canvas: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100dvh;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--color-canvas);
}
