<div class="game">
  @if (game$ | async; as game) {

    <div class="players">
      <span class="player-1">{{ game.namePlayer1 }}</span>
      <span>&nbsp; vs &nbsp;</span>
      <span class="player-2">{{ game.namePlayer2 }}</span>
    </div>

    <div>
      <app-board [board]="game.board" (clicked)="hexagonClicked(game, $event)"></app-board>

      <div class="messages">
        <div [ngClass]="{'blink': game.winner !== null}">{{ getInfoMessage(game) }}</div>
        @if (connectionMessage$ | async; as connectionMessage) {
          <div>{{ connectionMessage }}</div>
        }
      </div>
    </div>

    <button class="quit-button" mat-raised-button (click)="quitClick()">
      <mat-list-item>
        <mat-icon matListItemIcon>logout</mat-icon>
      </mat-list-item>
    </button>
  }
</div>
