<div class="game">
  @if (game$ | async; as game) {
    <div [attr.class]="getNamePlayerClass()">
      {{ namePlayer }}
    </div>

    <app-board [board]="game.board" (clicked)="hexagonClicked(game, $event)"></app-board>

    <div class="messages">
      <div [ngClass]="{'blink': game.winner !== null}">{{ getInfoMessage(game) }}</div>
      @if (connectionMessage$ | async; as connectionMessage) {
        <div>{{ connectionMessage }}</div>
      }
    </div>

    <button class="quit-button" mat-raised-button (click)="quitClick()">
      <mat-list-item>
        <mat-icon matListItemIcon>logout</mat-icon>
      </mat-list-item>
    </button>
  }
</div>
