.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .players {
    margin-left: -330px;
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--mdc-protected-button-label-text-color);
  }

  .player-1 {
    font-size: 48px;
    color: var(--color-player-1);
  }

  .player-2 {
    font-size: 48px;
    color: var(--color-player-2);
  }

  .messages {
    width: 100%;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    color: var(--mdc-protected-button-label-text-color);
    background-color: #333333;

    @keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    .blink {
      animation: blink 1.5s ease 10;
    }
  }

  .quit-button {
    margin-top: 100px;
    padding-top: 35px;
    padding-bottom: 20px;

    .large-icon {
      font-size: 36px;
      width: 48px;
      height: 48px;
    }
  }
}
