:root {
  --color-player-1: #a15a13;
  --color-player-2: #598b98;
  --color-canvas: #404040;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-canvas);
}
