.board {
  display: flex;
  flex-direction: column;
  justify-content: center; // Zentriert die Inhalte horizontal
  align-items: center; // Zentriert die Inhalte vertikal
  height: 100vh; // Setzt die Höhe des Containers auf 100% der Viewport-Höhe
  width: 100vw;
  margin-left: -200px;

  .polygone-svg {
    position: absolute;
    border: 1px solid green;
    opacity: 0.5;
    z-index: 1;
    margin-left: 300px;
  }

  .hexagons {
    position: absolute;
    font-weight: bold;
    color: #e1dddd;

    .hex-rows {
      display: flex;
      justify-content: center;

      div.caption-first {
        margin-top: 45px;
      }

      .caption-left {
        margin-top: 25px;
        margin-right: 10px;
      }

      .caption-top {
        margin-left: 22px;
        margin-bottom: 4px;
      }

      .caption-bottom {
        margin-top: 22px;
        margin-left: 22px;
      }

      .caption-right {
        margin-top: 25px;
        margin-left: 10px;
      }

    }
  }
}
